{{template "header" .}}

<nav aria-label="breadcrumb">
    <ul>
        <li><a href="{{.Root}}/">Home</a></li>
    </ul>
</nav>

{{if .Warning}}
<p style="color: #f99">The search indexes are build by trigram. Please enter at least 3 characters to search.</p>
{{end}}

<ul>
{{$root := .Root}}
{{range .Logs}}
<li><a href="{{$root}}/log/{{.Channel | urlEscape}}/{{.LogDate}}.txt">{{.Channel}}/{{.LogDate}}</a>
    <div style="background-color: #eee; padding: 1em; white-space: pre-wrap; word-wrap: break-word; line-height: 1.3;">{{.Content}}</div>
</li>
{{end}}
</ul>

{{template "footer" .}}
